.containerMain {
padding: 0 20px 0 20px;
}

.containerSmile {
    display: flex;
    align-items: center; /* Выровнять элементы по центру вертикально */


}

.imgSmile {
    opacity: 0; /* Изображение скрыто по умолчанию */
    transition: opacity 0.7s ease; /* Плавное появление */
    width: 24px; /* Установите размер иконки по необходимости */
    height: auto;
}

.titleBoard {
    color: #919090;
    margin: 0;
}
.titleBoard:hover {
    color: #232323;
    cursor: pointer;

}

.containerTask {
    background-color: var(--bar-color);
    padding: 15px 8px 10px 15px;
    min-width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.addTaskContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(95, 99, 104);
    margin-bottom: 10px;
    cursor: pointer;
}

.addTaskContainer:hover {
    color: var(--hover-task-color);

}

.containerMap {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-top: 20px;
    border-radius: 20px;


}

.colorSpanTask {
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
    cursor: pointer;
    color: black;

}

.titleTask {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
}

.titleAndPoint {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.addIcon {
    color: var(--primary-color);
    border-radius: 50%; /* Скругление всегда активное */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавные изменения */
    background-color: transparent; /* Фон по умолчанию */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;


}

.addTaskContainer:hover .addIcon {
    color: var(--hover-task-color); /* Иконка становится синей */
    background-color: var(--primary-color); /* Фон становится синим */
    cursor: pointer;
}

.addTaskContainer:hover .colorSpanTask {
    color: var(--primary-color); /* Текст "Add Task" становится синим */
}

/*стили для добавленной таски */
.openStyle {
    display: flex;
    align-items: start;
    gap: 17px;
}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.inputTitleStyle {
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
}
.inputDetailsStyle {
    outline: none;
    border: none;
    font-size: 12px;

}

.inputStyle::placeholder {
    color: #959494;
}


.scrollManyCart {
    width: 100%;
    height: calc(100vh - 88px); /* 150px — высота header и любых дополнительных элементов */
    overflow-x: auto;
    max-width: 100%;
    margin: 0 auto;
    font-size: 14px;
}
/*
!* Кастомный скролл для WebKit (Chrome, Safari, Edge) *!
.scrollManyCart::-webkit-scrollbar {
    height: 5px; !* Высота скроллбара *!
}

.scrollManyCart::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}


.scrollManyCart::-webkit-scrollbar-track {
    background: #3a3a3a !important;
}
*/
