.dropdown {
    position: absolute;
    background: var(--bar-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 1000;
    padding: 8px 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menuItem {
    padding: 8px 13px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between; /* Иконка и текст будут по разным сторонам */
    align-items: center;
}

.menuItem:hover {
    background: var(--show-color-list);
}

.iconWrapper {
    width: 16px; /* Размер иконки */
    height: 16px; /* Размер иконки */
    margin-right: auto; /* Отправляет иконку в левую сторону */
}

.menuText {
    margin-left: auto; /* Отправляет текст в правую сторону */
    font-weight: 480;
}
.firstItem {
    font-size: 16px; /* Увеличиваем шрифт */
    font-weight: 500; /* Делаем текст жирным */
}

