.containerTask {
    background-color: var(--bar-color);
    padding: 0; /* или поставьте минимальные нужные вам значения */
    /* остальной код без изменений */

}
.cartTask {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Убираем внешние margin, если они мешают */
    margin: 0 -8px 0 -15px;   /* Вычитаем паддинги родителя */
    padding: 10px 15px 10px 18px; /* Чтобы вернуть внутренние отступы */
}
.cartTask:hover {
    background-color: rgba(243, 243, 243, 0.76);
}
.taskTitle {
    font-size: 14px;
    font-weight: 500;
    /* Убедитесь, что здесь нет лишних margin */
    margin: 0;
}

.taskDescription {
    font-size: 14px;
    margin: 0;
    /* Если нужно, можно добавить небольшой отступ слева */
    /* padding-left: 5px; */
}
.completedHeader {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    color:grey
}

