:root {
    --primary-color: #4a90e2; /* Основной цвет */
    --bar-color: rgb(255, 255, 255);; /* Второстепенный цвет */
    --background-color: rgb(246, 248, 249); /* Цвет фона */
    --text-color: #191919; /* Цвет текста */
    --modal-bg-color: #ffffff; /* Цвет модального окна */
    --overlay-color: rgba(0, 0, 0, 0.3); /* Цвет оверлея */
    --hover-task-color: rgb(234, 235, 237);/* Цвет hover в  */
}